* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  box-shadow: 2px 2px 10px 3px rgba(128, 128, 128, 0.09);
}

.logo-container {
  width: 80px;
  overflow: hidden;
}

.logo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  scale: 1.3;
}

.nav-items > ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 18px;
}

.body {
  width: 90%;
  margin: 50px auto;
}

.filter {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.filter-btn {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2);
}

.filter-btn:hover {
  background-color: rgba(128, 128, 128, 0.315);
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 50px;
}

.res-card {
  width: 300px;
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.229);
  cursor: pointer;
  border-radius: 15px;

  transition: all ease .3s;
}

.res-card:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.405);
}

.res-card:hover img {
  scale: 1.1;
}

.res-img-container {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.677), rgb(0, 0, 0));
  position: absolute;
  bottom: 0;
  color: white;
}

.overlay .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  font-size: 1.1rem;
}

.res-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  transition: all ease .3s;
}

.bottom-content {
  margin-top: 10px;
  padding: 0 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.res-name {
  width: 80%;
}

.delivery-time {
  margin-top: 3px;
  font-size: 14px;
  color: rgb(78, 78, 78);
}

.price {
  margin-top: 20px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 50px;
}

.shimmer-card {
   width: 300px;
  height: 300px;
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.229);
  cursor: pointer;
  border-radius: 15px;

}

.login-btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(255, 77, 0);
}

.res-menu-div {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.res-menu-items {
  margin: 20px;
}
